
 <div class="login-box">
    <h1>Login</h1>
    <form action="/admin/adminLoginAction" method="post" onsubmit="return adminLoginValidation()">
      <label>Username</label>
      <span id="userNameError" class="text-danger fw-normal"></span>
      <input type="text"  id="name" name="adminName"  />
      <label>Password</label>
        <input type="password" id="pass" name="password"  />
      <span id="passwordError" class="text-danger fw-normal"></span>
      <br><br>
      <input type="submit"  value="Login">
     
    </form>

 
  <script>
    function adminLoginValidation(){
        let flag =0
        let adminName = document.getElementById('name').value.trim()
        let password = document.getElementById('pass').value.trim()

        if(adminName===''){
            document.getElementById('userNameError').innerHTML=('Name required')
            flag=1

        }else {
            document.getElementById('userNameError').innerHTML=''

        }

        if(password==''){
            document.getElementById('passwordError').innerHTML='Password Required'
            flag=1
        }else{
            document.getElementById('passwordError').innerHTML=''

        }

        if(flag==1){
            return false
        }

    }
  </script>

   