<div class=" d-flex justify-content-center">
    <h1 class="bg-success text-white text-center mt-5 p-5">Order placed successfully</h1>
  </div>
  <div class=" d-flex justify-content-center">
    <a href="/viewOrders" class="btn btn-secondary">VIEW ORDERS</a>
  </div>